/* ============================= */
/*        Tailwind Base         */
/* ============================= */
@import "tailwindcss";

/* ============================= */
/*        CSS Variables          */
/* ============================= */
:root {
  --radial-graient: radial-gradient(
    50.02% 50.02% at 49.98% 50%,
    #1f6c6e 0%,
    #023b3c 100%
  );
  --white-color: white;
  --light-grey-color: #dbeafe;
  --orange-color: #ff7a1d;
  --dark-color: #101010;
  --gray-color: #333333;
  --border-color: #023b3c;
  --linear-gradient: linear-gradient(81.47deg, #ff7a1d 0%, #a54502 100%);
}

/* ============================= */
/*          Reset & Base        */
/* ============================= */
* {
  line-height: 120%;
  letter-spacing: 0;
}

body {
  overflow-x: hidden;
}

input,
textarea {
  background-color: #00000040;
  border: none;
  padding: 9px 16px;
}

input {
  height: 42px;
}

input:focus,
textarea:focus {
  outline: none;
}

/* ============================= */
/*          Sticky Header       */
/* ============================= */
.sticky-top {
  position: sticky;
  top: 0;
  transition: 0.4s;
  opacity: 1;
  z-index: 10;
  animation: upDown 0.3s linear;
}

@keyframes upDown {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0%);
  }
}

/* ============================= */
/*             Buttons          */
/* ============================= */
.primary-btn {
  background-color: var(--orange-color);
  padding: 13.5px 18px;
  border-radius: 8px;
  color: var(--white-color);
  font-size: 18px;
  font-weight: 600;
  line-height: 100%;
  text-transform: capitalize;
  display: inline-block;
}

.white-btn {
  background-color: var(--white-color);
  padding: 14.5px 27px;
  border-radius: 8px;
  color: var(--orange-color);
  font-size: 16px;
  font-weight: 600;
  line-height: 100%;
  text-transform: capitalize;
  display: inline-block;
}

.border-btn {
  padding: 13.5px 18px;
  border-radius: 8px;
  color: var(--border-color);
  border: solid 2px var(--border-color);
  font-size: 18px;
  font-weight: 600;
  line-height: 100%;
  text-transform: capitalize;
  display: inline-block;
}

/* ============================= */
/*         Accordion Styles     */
/* ============================= */
.faq .item {
  border: solid 1px var(--border-color);
  margin-bottom: 24px;
  border-radius: 16px;
  overflow: hidden;
  transition: all 0.3s ease;
  line-height: 115%;
  letter-spacing: -2%;
}

.faq .title {
  padding: 32px 24px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 600;
  font-size: 23px;
  color: var(--dark-color);
}

.faq .content {
  max-height: 0;
  opacity: 0;
  overflow: hidden;
  padding: 0 24px;
  line-height: 1.5;
  transition:
    max-height 0.4s ease,
    padding 0.3s ease;
}

.faq .item.open {
  background-color: #ff7a1d1a;
  border-color: var(--orange-color);
}

.faq .item.open .title {
  padding-bottom: 16px;
}

.faq .item.open .content {
  max-height: 200px;
  padding-bottom: 32px;
  opacity: 1;
}

.faq .icon {
  transition: transform 0.3s ease;
  color: var(--orange-color);
  font-size: 35px;
}

.faq .item.open .icon {
  transform: rotate(45deg);
  color: var(--border-color);
}

/* ============================= */
/*         Swiper Styles        */
/* ============================= */
/* .swiper-slide {
  max-width: 450px;
} */

.tutorial-swiper .swiper-slide {
  width: 350px !important;
}

#tutorial .swiper {
  position: relative;
}

.swiper-pagination-fraction,
.swiper-pagination-custom,
.swiper-horizontal > .swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal {
  bottom: 0 !important;
}

.swiper-pagination-bullet {
  width: 15px !important;
  height: 15px !important;
  background-color: #bdbdbdbf;
}

.swiper-pagination-bullet.swiper-pagination-bullet-active {
  background-color: var(--orange-color) !important;
}

.custom-prev-btn,
.custom-next-btn {
  z-index: 1;
}

/* ============================= */
/*       Directional Styles     */
/* ============================= */
div[dir="rtl"] .lg\:text-left {
  @media (width >= 64rem) {
    text-align: right;
  }
}

div[dir="rtl"] .actions {
  flex-direction: row-reverse;
}

div[lang="ar"] .md\:text-left {
  @media (min-width: 48rem) {
    text-align: right;
  }
}

div[lang="ar"] .lg\:text-left {
  @media (min-width: 64rem) {
    text-align: right !important;
  }
}

html[lang="en"] .break {
  display: none;
}

/* ============================= */
/*        Global Section Fix    */
/* ============================= */
section {
  scroll-margin-top: 75px;
}

/* ============================= */
/*        Responsive Styles     */
/* ============================= */
@media (min-width: 80rem) {
  .container {
    max-width: 80rem;
  }
}

@media (min-width: 1200px) {
  #tutorial .swiper-wrapper {
    padding-bottom: 0px !important;
    margin-left: -145px !important;
  }

  div[lang="ar"] #tutorial .swiper-wrapper {
    margin-right: -145px;
  }

  #tutorial .swiper::before {
    content: "";
    position: absolute;
    width: 197px;
    height: 250px;
    border-radius: 0 12px 12px 0;
    background-color: #ffffffad;
    left: 0px;
    top: 0px;
    z-index: 10;
  }

  #tutorial .swiper::after {
    content: "";
    position: absolute;
    width: 202px;
    height: 250px;
    border-radius: 12px 0 0 12px;
    background-color: #ffffffad;
    right: 0px;
    top: 0px;
    z-index: 10;
  }
}

@media (max-width: 1200px) {
  .swiper-wrapper {
    padding-bottom: 70px !important;
  }

  button[aria-label="arrow-right"],
  button[aria-label="arrow-left"] {
    top: initial;
    bottom: -25px;
  }

  button[aria-label="arrow-right"] {
    right: 40%;
  }

  button[aria-label="arrow-left"] {
    left: 40%;
  }
}

@media (max-width: 650px) {
  button[aria-label="arrow-right"] {
    right: 30% !important;
  }

  button[aria-label="arrow-left"] {
    left: 30% !important;
  }
}
